/*
 CSS for Fill in the blank plugin
 Author: Yane Frenski
*/

/* styles for the draggable answers */
.quizy-fitb-answer{
  cursor: move;
  font-size: 14px;
  font-weight: normal;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  text-align: center;
  color:#000;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 2px 2px 2px #AAAAAA;
  background: #515151;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#ededed') progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=135, Strength=3) !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#ededed));
  background: -moz-linear-gradient(top,  #fcfcfc,  #ededed);
  position:relative;
  margin-top:10px;
}

/* Droppable elements styles */
.quizy-fitb-droptarget{
  font-size:18px;
  padding-top:5px;
}

.quizy-fitb-droptarget-hover{
  color:#000;
  background:#555;
}


.quizy-fitb-dropelement-disabled{
  color:#555 !important;
  cursor:default;
}

.quizy-fitb-dropelement.ui-draggable-dragging, .ph-dropelement-inline.ui-draggable-dragging{
  background:#eee;
  color:#555;
}

/* results popups*/
.quizy-fitb-res{
  width:20px;
  height:20px;
  position:absolute;
  z-index:10000;
  border:1px solid #000;
  -moz-box-shadow: 2px 2px 2px #aaa;
  -webkit-box-shadow: 2px 2px 2px #aaa;
  box-shadow: 2px 2px 2px #aaa;
  zoom:1;
  color:#fff;
  text-shadow: 1px 1px 1px rgba(0,0,0, 0.5);
}

.quizy-fitb-res-yes{
  background: #90aa11;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b9d62d', endColorstr='#90aa11') progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=135, Strength=3) !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#b9d62d), to(#90aa11));
  background: -moz-linear-gradient(top,  #b9d62d,  #90aa11);
}

.quizy-fitb-res-no{
  background: #b81469;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e84097', endColorstr='#b81469') progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=135, Strength=3) !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#e84097), to(#b81469));
  background: -moz-linear-gradient(top,  #e84097,  #b81469);
}

.quizy-fitb-res-num{
  background: #686868;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#929292', endColorstr='#565656') progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=135, Strength=3) !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#929292), to(#565656));
  background: -moz-linear-gradient(top,  #929292,  #565656);
}